.center {
    margin: auto;
    width: 80%;
    margin-top: 30px;
}

.centerAutoWidth {
    margin: auto;
}

.demo-ribbon {
    width: 100%;
    height: 40vh;
    background-color: rgb(255, 193, 7)!important;
}

.content {
    margin-top: -35vh;
}

.padding20 {
    padding: 20px;
}

.left {
    float: left;
    width: 75%;
    overflow: hidden;
}

.leftInverse {
    float: left;
    width: auto;
    overflow: hidden;
}

.topMargin50 {
    margin-top: 50px;
}

.right {
    float: left;
    width: 25%;
    overflow: hidden;
}

.rightInverse {
    float: left;
    width: auto;
    overflow: hidden;
}